<nav>
  <ul>
    <li><a asp-controller="Home" asp-action="Index">Beranda</a></li>
    <li><a asp-controller="Student" asp-action="Create">Tambah Siswa</a></li>
    <li><a asp-controller="Home" asp-action="Privacy">Privasi</a></li>
  </ul>
</nav>