@model WebAppMVC.Models.Attendance
@{
  ViewData["Title"] = "Hapus Absensi";
}

<h2>Hapus Absensi</h2>
<h3>Apakah Anda yakin ingin menghapus presensi ini?</h3>
<div>
  @* <h4>Participant</h4> *@
  <hr />
  <dl class="row">
    <dt class="col-sm-2">
      Participant
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Participant)
    </dd>
    <dt class="col-sm-2">
      Date
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Date)
    </dd>
    <dt class="col-sm-2">
      Status
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Status)
    </dd>
    <dt class="col-sm-2">
      Notes
    </dt>
    <dd class="col-sm-10">
      @Html.DisplayFor(model => model.Notes)
    </dd>
  </dl>
  <form asp-action="Delete">
    <input type="hidden" asp-for="Id" />
    <input type="submit" value="Hapus" class="btn btn-danger" /> 
    <a class="btn btn-primary" asp-action="Index">Kembali ke Daftar</a>
  </form>
</div>